
@font-face {
    font-family: 'RobotoB';
    src: url('../fonts/rbb/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/rbb/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LatoR';
    src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/LatoBL/Lato-Black.woff2') format('woff2'),
        url('../fonts/LatoBL/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad ProB';
    src: url('/fonts/MYPSB/MyriadPro-Semibold.woff2') format('woff2'),
        url('/fonts/MYPSB/MyriadPro-Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad ProSB';
    src: url('/fonts/MYPSB/MyriadPro-Semibold.woff2') format('woff2'),
        url('/fonts/MYPSB/MyriadPro-Semibold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1190px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
    position: relative;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding-left: 20px;
    font-family: 'RobotoB';
    color: #4b4b4b;
    font-size: 14px;

}
nav ul li a:hover{
    background-color: #3bb3c2;
    padding: 10px ;
    border-radius: 5px;
    font-family: 'RobotoB';
    color: #fff;
    font-size: 14px;
}

.position{
    background-color: #000;
    position: absolute;
}
/* .position {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    text-align: center;
    padding: 8px 0px;
    position: absolute;
    top: 0px;
    right: 177px;
} */
.position a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
} 
.position a i{
    padding-right: 10px;
}
 .printer{
    padding: 0px 10px;
} 
.banner{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 150px;
}
.banner-content h2{
    font-family: 'LatoR';
    background-color: #1b9cff;
    color: #fff;
    font-size: 28px;
    line-height: 24px;
    width:466px;
    padding: 8px 10px;
    
}
.banner-content h3{
    font-family: 'LatoR';
    background-color: #1b9cff;
    color: #fff;
    font-size: 28px;
    line-height: 24px;
    width:520px;
    padding: 8px 10px;
    margin: 10px 0px;
}
.banner-content p{
    font-family: 'LatoR';
    font-size: 14px;
    line-height: 24px;
    color: #4b4b4b;
    padding-bottom: 30px;
}
.banner-content a{
    text-decoration: none;
    background-color: #1b9cff;
    color: #fff;
    padding: 10px;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 90px 0px 70px 0px;
    text-align: center;
}
.main-one{
    width: 20%;
    border: 1px solid #e1e1e1;
    position: relative;
}
.main-two{
    width: 20%;
    border: 1px solid #e1e1e1;
    position: relative;
    background-color: #1b9cff;
    border: none;
   
}
.main-three{
    width: 20%;
    border: 1px solid #e1e1e1;
    position: relative;
}
.main-four{
    width: 20%;
    border: 1px solid #e1e1e1;
    position: relative;
}
.main-one h5,.main-two h5,.main-three h5,.main-four h5{
    padding:40px 3px 7px;
    font-family: 'LatoBlack';
    color: #4f4f4f;
    font-size: 14px;
    line-height: auto;
}
.main-one p,.main-two p,.main-three p,.main-four p{
    font-family: 'LatoR';
    color: #5f5f5f;
    font-size: 10px;
    line-height: 18px;
    padding: 0px 10px;
}
.main img {
    position: absolute;
    top: -16%;
    left: 39%;
}
.main-two img {
    position: absolute;
    top: -25%;
    left: 39%;
    border-radius: 50%;
    margin: 0px;
    padding: 5px;
    background: #fff;
    
    
}
.main-two h5{
    color: #fff;
}
.main-two p{
    color: #fff;
}
.middle{
    background-image: url("../images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.middle img{
    position: absolute;
    top: -3px;
    left: 45%;
}
.middle-content{
    text-align: center;
    padding: 60px 0px;
}
.middle-content h2{
    color: #fff;
    font-size: 40px;
    line-height: 18px;
    font-family: 'LatoR';
}
.middle-content h2 span{
    color: #1b9cff;
}
.middle-content p{
    font-family: 'LatoR';
    width: 91%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #cccccc;
    padding:25px 0px;
}
.middle-content a{
    text-decoration: none;
    font-family: 'LatoR';
    color: #fff;
    font-size: 16px;
    line-height: 8px;
    background-color: #1b9cff;
    padding: 10px;
    border-radius: 2px;
}
.middle-content .para{
    padding: 5px 0px 56px;
}
.section{
    background-color: #3d4e5e;
    padding: 88px 0px;
}
.section .one{
    background-color: aqua;
    text-align: center;
    padding: 25px 0px;
    color: #fff;
    font-size: 40px;
    border-radius: 4px 4px 0px 0px;
}
.section2 {
    background-color: #415462;
    padding: 54px 0px 10px;
}

.section2-one{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.section2-two{
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.section2-one .white {
    background-color: #fff;
    display: flex;
    padding: 8px 8px 36px 8px;
    border-radius: 4px;
    border-left: 1px solid #000;
}
.section2-one .white img{
    margin-right: 10px;
}
.section2-one .white h5{
    font-family: 'Myriad ProB';
    font-size: 25px;
    line-height: 38px;
    color: #43647b;
}
.section2-one .white h5::after{
    content: "";
    display: block;
    border-bottom: 5px dotted #e2e2e2;
}
.section2-one .white p{
    font-family: 'Myriad ProSB';
    font-size: 15px;
    line-height: 23px;
    color: #6e6e6e;
}
.blue {
    background: #4b7391;
    padding: 0px 57px;
    box-shadow: 0px 0px 10px #000;
    margin-bottom: 54px;
    margin-left: 47px;
}
.tabs.ui-tabs.ui-corner-all.ui-widget.ui-widget-content.ui-tabs-collapsible {
    background: transparent;
    border: none;
}
.tabs ul{
    background: transparent;
    border: none;
}
.tabs ul li{
    background: transparent;
    border: none;
}

.tabs ul li a{
    color: #fff;
}
.sec2-ctxt{
    display: flex;
}
.icons {
    margin: 31px 0px;
}
.fa{
    background: #ffff;
    padding: 15px;
    display: block;
    border-radius: 3px 0px 0px 3px;
    margin: 10px 0px;
}
.fa-twitter{
    color: #92b4cd;
}
.fa-dribbble{
    color: pink;
}
